h1{
text-align: center;
position: relative;
left: 250;
background-color: whitesmoke;
width: 900;
color: #272361;
z-index: 2;
}

body{background-color: #272361;}
ul{
background-color: whitesmoke;
position: relative;
bottom: 20px;
right: 15px;
width: 1433px;
color: #272361;
font-size: 15pt;
padding-top: 20px;
padding-bottom: 20px;
}
.slideshow-container{
  position: absolute;
  bottom: 650px;
  left: 520px;
  z-index: 2;
}

ul li{
position: relative;
left: 30px;
}
.i5{position: relative;
	float: right;
	bottom: 0px;
	height: 360px;
	transform: rotate(270deg);
	right: 570px;
  z-index: 2;
}
h2{color: whitesmoke;
	font-size: 35pt;
	text-decoration-line: underline;
}
ol{color: whitesmoke;
font-size: 15pt;}	


.block1{
	width: 400px;
	height: 460px;
	background-color: whitesmoke;
	z-index: 5;
	position: absolute;
	left: 1027px;
	bottom: 1px;
z-index: 1;}
.title{
	background color: deepskyblue;
	width: 900px;
	height: 200px;
	font-size: 50pt;
	position: relative;
	top: 10px;
	color: #272361;
 text-decoration: underline;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
  left: 350px;
}




/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: whitesmoke;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  right: 450px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: absolute;
  bottom: 110px;
  left: 1200px;
  z-index: 2;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

