Body {
	background-color: maroon;
}
*{
	color: #FFFFFF;}
	h1 {color: lightcoral;
font-family: 'Barrio';font-size: 42px;
	}



	a{color: darkblue;}
	h1{background-color: black;}

	h2{background-color: lightcoral;}
